### Notes on Creating a `pd.DataFrame` in `pandas`
File name: `pd_06_cstr_df.ipynb` - Constructing a DataFrame <br>
Author: Xuhua Huang <br>
Last updated: September 5, 2022 <br>
Created on: September 5, 2022

In [1]:
import pandas as pd
import numpy as np

In [2]:
# The basic structure of a pd.DataFrame constructor is listed as the following:
df: pd.DataFrame = pd.DataFrame(data=None, index=None, columns=None, dtype=float)
# data: structured or same-struct ndarray, iterable object, dictionary and DataFrame
# index: objects like array; index also supports unpacking. RangeIndex(1, 2, 3, ..., n) will be automatically generated if unspecified
# columns: first row of the table to identify the columns
# dtype: describe the data type of the elements; can be automatically determined by the compiler/interpreter

#### Creating a `DataFrame` from a `dict`
* Using `pd.DataFrame()` constructor
* Parsing the `index` argument using the keyword

In [3]:
d: dict[str, list] = {
    'country': ['China', 'America', 'Japan'],
    'population': [14.33, 3.29, 1.26]
}

In [4]:
df: pd.DataFrame = pd.DataFrame(d)
df

   country  population
0    China       14.33
1  America        3.29
2    Japan        1.26

In [5]:
df: pd.DataFrame = pd.DataFrame(data=d, index=['a', 'b', 'c'])
df

   country  population
a    China       14.33
b  America        3.29
c    Japan        1.26