### Notes on Series with the pandas library
#### Introduction to `pandas` Data Structures
File: `pd_01_Series.ipynb` <br>
Xuhua Huang <br>
Last updated: July 8, 2022 <br>
Created on: June 18, 2022

In [14]:
import pandas as pd
from pandas import Series, DataFrame

In [15]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [16]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [18]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [19]:
obj2['d'] = 6
obj2[obj2 > 0] * 2

d    12
b    14
c     6
dtype: int64

In [20]:
'b' in obj2

True

In [21]:
'e' in obj2

False

#### Using `NumPy` Array to Construct a `DataFrame`

In [22]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year':  [2000, 2001, 2002, 2001, 2002, 2003],
    'pop':   [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}

In [23]:
df_states_pop = pd.DataFrame(data=data, columns=['year', 'state', 'pop'])
df_states_pop

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2