### Notes on `JSON` using `pandas`
File: `pd_03_json.ipynb` <br>
Xuhua Huang <br>
Last updated: August 21, 2022 <br>
Created on: August 21, 2022

In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
obj: str = """
{
    "names": "West",
    "places_lived": ["United States", "China", "Canada"],
    "pet": null,
    "siblings": [
        {"names": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
        {"names": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}
    ]
}
"""

In [3]:
# using loads() function to convert JSON formatted string
# to a Python compatible format
result = json.loads(obj)
result

{'names': 'West',
 'places_lived': ['United States', 'China', 'Canada'],
 'pet': None,
 'siblings': [{'names': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'names': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [4]:
# using dumps() function to convert it back to JSON format
as_json = json.dumps(result)

In [5]:
siblings: pd.DataFrame = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

   name  age
0   NaN   30
1   NaN   38