### Notes on working with `NaN` in `pandas`
File: `pd_04_nan.ipynb` <br>
Xuhua Huang <br>
Last updated: August 21, 2022 <br>
Created on: August 21, 2022

In [1]:
import numpy as np
import pandas as pd

In [2]:
string_data: pd.Series = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [3]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
string_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
isinstance(string_data.isna(), pd.Series)

True

In [6]:
string_data.isna().value_counts()

False    3
True     1
dtype: int64

In [7]:
# calling all() function on a pd.Series will perform
# a logical AND operation on all of the elements
# use this to see if all of the elements are True
string_data.isna().all()

False

In [8]:
# calling any() function on a pd.Series will perform
# a logical OR operation on all of the elements
# use this to see if any of the element is True
string_data.isna().any()

True