### Working with Pandas - Data Analysis
#### `DataFrame` and `series.Series` Basics
File `pd_02_basics.ipynb` <br>
Xuhua Huang <br>
Last updated: Aug 8, 2021 <br>
Created on: Aug 8, 2021

In [1]:
import pandas as pd
import typing

In [2]:
person: dict = {
    'first_name': 'Xuhua',
    'last_name': 'Huang',
    'email': 'xhua.huang@outlook.com'
}

In [3]:
people: dict = {
    'first_name': ['Xuhua', 'Lanfeng'],
    'last_name': ['Huang', 'Jin'],
    'email': ['xhua.huang@outlook.com', 'lfeng.jin@outlook.com']
}

print the email list from the dictionary `people`

In [4]:
people['email']

['xhua.huang@outlook.com', 'lfeng.jin@outlook.com']

In [5]:
df = pd.DataFrame(people)
df

  first_name last_name                   email
0      Xuhua     Huang  xhua.huang@outlook.com
1    Lanfeng       Jin   lfeng.jin@outlook.com

Access a single column <br>
equivalent to: df.email

In [6]:
df['email']

0    xhua.huang@outlook.com
1     lfeng.jin@outlook.com
Name: email, dtype: object

In [7]:
type(df['email'])
# 'email' is a series, 'first_name' is another one, and 'last_name' is the third

pandas.core.series.Series

Access multiple column <br>
with nested list notations <br>
returns a filtered-down dataframe <br>
this is no longer a single `pandas.core.series.Series`

In [8]:
df[['last_name', 'email']]

  last_name                   email
0     Huang  xhua.huang@outlook.com
1       Jin   lfeng.jin@outlook.com

In [9]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

Access element with `loc` and `iloc` indexer <br>
`iloc` hints an integer location

In [10]:
df.iloc[0]  # returns the first row

first_name                     Xuhua
last_name                      Huang
email         xhua.huang@outlook.com
Name: 0, dtype: object

In [11]:
df.iloc[[0, 1]]  # returns the first two rows of data

  first_name last_name                   email
0      Xuhua     Huang  xhua.huang@outlook.com
1    Lanfeng       Jin   lfeng.jin@outlook.com

In [12]:
df.iloc[[0, 1], 2]
# access the first two rows, the third column (email)

0    xhua.huang@outlook.com
1     lfeng.jin@outlook.com
Name: email, dtype: object

In [13]:
df.loc[0]

first_name                     Xuhua
last_name                      Huang
email         xhua.huang@outlook.com
Name: 0, dtype: object

`df.loc` supports accessing element using labels, and even multiple labels <br>
for example, a list of labels <br>
the following line means accessing the first two rows with list `[0, 1]`, and the columns labels `last_name` and `email` <br>
notice that the result is provided in that exact order

In [14]:
df.loc[[0, 1], ['last_name', 'email']]

  last_name                   email
0     Huang  xhua.huang@outlook.com
1       Jin   lfeng.jin@outlook.com

#### Using StackOverflow File `survey_results_public.csv`

In [15]:
df = pd.read_csv('./data/survey_results_public.csv')
df.shape

(64461, 61)

In [16]:
df.columns  # prints all the labels(column names) in a list format

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [17]:
df['Hobbyist']  # prints the head and tail of this column

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [18]:
df['Hobbyist'].value_counts()  # groups by data type along with counts

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [19]:
# read the first 3 rows with loc method
# and learn more about them: whether they code as a hobby and what their undergraduate majors are
# with slicing index: df.loc[0: 2, 'Hobbyist': 'Employment']
df.loc[[0, 1, 2], ['Hobbyist', 'UndergradMajor', 'Employment']]

,Hobbyist,UndergradMajor,Employment
0,Yes,"Computer science, computer engineering, or sof...","Independent contractor, freelancer, or self-em..."
1,No,"Computer science, computer engineering, or sof...",Employed full-time
2,Yes,NaN,NaN